body {
  background-color: rgb(222, 219, 219);
}

.nav {
  color: rgb(164, 164, 164);
}

.project {
  padding: 2em;
  align-content: center;
}

.card-body, .body {
  font-family: 'Montserrat', sans-serif;
  color: rgb(164, 164, 164);
  background-color: rgb(222, 219, 219);
  text-align: center;
}

.intro, .footer {
  padding: 3em;
  font-family: 'Montserrat', sans-serif;
  color: rgb(164, 164, 164);
  text-align: center;
}

.card-img-top {
  border-radius: 50%;
}

.card {
  background-color: rgb(222, 219, 219);
  border: none;
}

.avatar {
  border-radius: 50%;
  max-width: 280px;
  align-content: center;
}