.nav {
  color: #fff;
  background-color: grey;
}

.project {
  padding: 2em;
}

.intro, .footer {
  padding: 3em;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color: grey;
  color: #fff;
}